<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
			<div id="app">
				{{ message }}
                <button  v-on:click="insert">Submit</button>
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>
	<!-- /.row -->





<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        },
        methods:{
            insert:function(){
                let vueInstance = this; //This line is important

                axios.post('/vue', {areamodel: "helsldfsd"}).then(
                    function(response){
                        vueInstance.areamodel = response.data.areamodel;
                    }
                ).catch(function(error){ console.log(error.message); });
            }
        }
    })
</script>